{{#each list}}
<tr>
    <td class="col-1">{{sn}}</td>
    <td class="col-2"><p>{{year}}</p><p>{{date}}</p></td>
    <td class="col-3">{{expenseSn}}</td>
    <td class="col-4">{{departmentModel.name}}</td>
    <td class="col-5">{{nextUserName}}</td>
    <td class="col-7">{{amountTotal}}</td>
    <td class="col-6">{{statusModel.statusName}}</td>
    <td class="col-8"><a class="btn btn-default" target="_blank" href="/web/expense/podetail?purchaseNumber={{expenseSn}}">查看</a></td>
</tr>
{{/each}}